body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }

  img, audio {
    border-radius: 50%;
    display: block; /* Ensures the image is treated as a block-level element */
    margin: 0 auto; /* Centers the image horizontally */

  }

  #acknowledgements-toggle {
    font-weight: bold;
    cursor: pointer;
  }

  .centered-text {
  text-align: center;
}

/* define a section background color class in CSS */
.section-bg {
    background-color: #969292;
  }
  
  .block-text {
    display: block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .contact-container {
    border: 1px solid black;
    padding: 20px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  header {
    background-color: #f8f8f8;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    
  }
  
  .social-media a {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
  }


  

  